<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49681467263-6te338as2nh60qolihnnglmm0m180c23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49681467263-6te338as2nh60qolihnnglmm0m180c23</string>
	<key>API_KEY</key>
	<string>AIzaSyBpazIRzVgjt2xM5caE5CNfhM4Pi32e6cA</string>
	<key>GCM_SENDER_ID</key>
	<string>49681467263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ezText</string>
	<key>PROJECT_ID</key>
	<string>group932-a</string>
	<key>STORAGE_BUCKET</key>
	<string>group932-a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49681467263:ios:da4b5b41af396d15d0fc4a</string>
</dict>
</plist>